@import './reset.css';
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.container-wide {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}
.container-wide-header-top {
  background-color: #efefef;
  height: 50px;
}
@media (max-width: 480px) {
  .container-wide-header-top {
    overflow: scroll;
  }
}
.container-wide-header-top ul {
  margin: 0 auto;
  width: 447px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .container-wide-header-top ul {
    overflow: scroll;
  }
}
.container-wide-header-top ul li a {
  color: #333333;
  transition: color 0.2s ease;
}
.container-wide-header-top ul li a:hover {
  color: #66c05d;
}
.container-wide-second-line {
  max-width: 1920px;
  border-bottom: 1px solid #efefef;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-second-line {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
@media (max-width: 700px) {
  .header-second-line {
    flex-direction: column;
    align-items: center;
  }
}
.header-second-line-header-logo {
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;
}
.header-second-line-header-logo h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 10%;
  color: #66c05d;
}
.header-second-line-header-tel {
  display: flex;
  justify-content: space-between;
  width: 337px;
  align-items: center;
}
.header-second-line-header-tel p {
  font-size: 16px;
}
.header-second-line-header-tel button {
  display: inline-block;
  width: 170px;
  height: 40px;
  border: 2px solid #66c05d;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
}
.header-second-line-header-tel button:hover {
  background-color: #66c05d;
  color: #ffffff;
}
.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  border: none;
  background-color: #66c05d;
  z-index: 2;
}
@media (max-width: 700px) {
  .header__burger-btn {
    display: block;
  }
}
.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
.header__burger-btn.open {
  background-color: #ffffff;
}
.header__burger-btn.open span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
  background-color: #66c05d;
}
.header__burger-btn.open span:nth-child(2) {
  opacity: 0;
}
.header__burger-btn.open span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
  background-color: #66c05d;
}
@media (max-width: 700px) {
  .header-third-line {
    position: absolute;
    left: -350px;
    top: 210px;
    z-index: 1;
    width: 350px;
    background-color: white;
    padding: 75px 20px 20px 20px;
    transition: 0.3s ease;
  }
  .header-third-line.open {
    left: 0px;
  }
}
.header-third-line ul {
  height: 79px;
  margin: 0 auto;
  width: 675px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .header-third-line ul {
    width: auto;
    height: auto;
    display: block;
  }
}
.header-third-line ul li a {
  font-size: 16px;
  color: #000000;
  transition: color 0.2s ease;
}
.header-third-line ul li a:hover {
  color: #66c05d;
}
@media (max-width: 700px) {
  .header-third-line ul li a {
    color: #66c05d;
    font-size: 21px;
    display: block;
    padding: 10px 0;
  }
}

.home {
  position: relative;
  padding: 193px 0;
  min-height: 604px;
  margin: 0 auto;
  max-width: 1920px;
  color: white;
}
.home-hedding {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 50px;
}
.home-content {
  max-width: 308px;
}
.home-content p {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 50px;
}
.home-btn {
  width: 170px;
  height: 40px;
  background: #66c05d;
  border: 2px solid #ffffff;
  border-radius: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
.home-btn:hover {
  background-color: #ffffff;
}
.home-btn:hover a {
  color: #66c05d;
}
.home-btn a {
  color: white;
}
.home-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: green;
  z-index: -1;
  margin: 0 auto;
  max-width: 1920px;
}
.home-bg-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.goods {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #efefef;
}
.goods-special-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 12px;
  padding-right: 44px;
}
@media (max-width: 390px) {
  .goods-special-price {
    flex-direction: column;
    align-items: center;
    width: auto;
    text-align: center;
  }
}
.goods-special-price p {
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 390px) {
  .goods-special-price p {
    margin-bottom: 10px;
  }
}
.goods-chairs {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .goods-chairs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 660px) {
  .goods-chairs {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.goods-chairs-card {
  height: 363px;
  width: 255px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: white;
}
@media (max-width: 1150px) {
  .goods-chairs-card {
    margin-bottom: 20px;
    justify-self: center;
  }
}
.goods-chairs-card:hover {
  transform: translate(0, -5px);
}
.goods-chairs-card-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 195px;
}
.goods-chairs-card-container img {
  margin-top: 20px;
}
.goods-chairs-card-container p {
  height: 33px;
  line-height: 140.6%;
  margin-top: 20px;
  text-align: center;
}
.goods-chairs-card-container b {
  font-size: 21px;
  font-weight: 500;
  margin: 20px 0;
}
.goods-chairs-card-container button {
  width: 130px;
  height: 35px;
  background: #66c05d;
  border-radius: 30px;
  color: white;
  transition: 0.2s ease;
}
.goods-chairs-card-container button:hover {
  box-shadow: 0 0 3px 3px rgba(102, 192, 93, 0.5215686275);
}
.goods-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 134px;
}
@media (max-width: 1150px) {
  .goods-info {
    flex-direction: column;
    align-items: center;
  }
}
.goods-info-card-green {
  max-width: 540px;
  padding: 0 42px;
  background-color: #66c05d;
}
@media (max-width: 1150px) {
  .goods-info-card-green {
    margin-bottom: 20px;
  }
}
.goods-info-card-green-container {
  margin: 0 auto;
  width: 455px;
  padding: 34px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goods-info-card-green-container button {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.goods-info-card-green-container button:hover {
  transform: translate(0, -5px);
}
@media (max-width: 570px) {
  .goods-info-card-green-container {
    flex-direction: column;
    align-items: center;
    width: auto;
    text-align: center;
  }
}
.goods-info-card-green-container-email {
  width: 250px;
}
.goods-info-card-green-container-email-heading {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}
.goods-info-card-green-container-email-text {
  width: 231px;
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 25px;
}
.goods-info-card-green-container-email-text-top {
  color: #ffffff;
  line-height: 20px;
}
.goods-info-card-green-container-email input {
  width: 225px;
  height: 35px;
  background: #ffffff;
  border-radius: 30px;
  padding-left: 25px;
}
@media (max-width: 570px) {
  .goods-info-card-green-container-email input {
    margin-bottom: 20px;
  }
}
.goods-info-card-green-container-email-btn {
  width: 170px;
  height: 35px;
  transition: opacity 0.2s ease;
  cursor: pointer;
  background: #66c05d;
  border: 2px solid #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}
.goods-info-card-green-container-email-btn:hover {
  background-color: #ffffff;
}
.goods-info-card-green-container-email-btn:hover a {
  color: #66c05d;
}
@media (max-width: 570px) {
  .goods-info-card-green-container-email-btn {
    margin: 0 auto;
  }
}
.goods-info-card-green-container-email-btn a {
  color: white;
}
.goods-info-card-green-container-email-image-none {
  display: none;
}

.footer {
  max-width: 1920px;
  height: 184px;
  margin: 0 auto;
}
.footer-top {
  background-color: white;
  padding-bottom: 38px;
}
.footer-top-content {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .footer-top-content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .footer-top-content p {
    margin: 20px 0;
  }
}
.footer-top-content-logotypes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 236px;
}
.footer-top-content-logotypes-ellipse {
  position: relative;
  width: 45px;
  height: 45px;
  border: 2px solid #66c05d;
  border-radius: 25px;
  transition: 0.3s ease;
}
.footer-top-content-logotypes-ellipse:hover {
  box-shadow: 0 0 5px 5px rgba(102, 192, 93, 0.5215686275);
}
.footer-top-content-logotypes-ellipse-youtube {
  position: absolute;
  left: 10px;
  top: 13px;
}
.footer-top-content-logotypes-ellipse-vk {
  position: absolute;
  left: 6px;
  top: 13px;
}
.footer-top-content-logotypes-ellipse-facebook {
  position: absolute;
  left: 10px;
  top: 10px;
}
.footer-down {
  background-color: #efefef;
}
.footer-down-container {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 660px) {
  .footer-down-container {
    flex-direction: column;
    align-items: center;
  }
}
.footer-down-container p {
  font-size: 12px;
  color: #828282;
}
@media (max-width: 660px) {
  .footer-down-container p {
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */